@model ScoalaAmadeus.Models.InvoiceModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Invoice Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>

        <dt>
            @Html.DisplayName("Series")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Series)
        </dd>

        <dt>
            @Html.DisplayName("Creation Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>

        <dt>
            @Html.DisplayName("Student Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

      
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
