@model IEnumerable<ScoalaAmadeus.ViewModels.InvoiceWithStudentNameViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Series")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayName("Student")
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor)
        </td>>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
       
     

        <td>
            @Html.ActionLink("Preview", "Preview", new { id = item.InvoiceId }) |
            @Html.ActionLink("Save", "SaveInvoice", new { id = item.InvoiceId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceId }) |

        </td>

        <td>
            <a href="~/Invoice/ExportPdf/?id=@item.InvoiceId"><img src="~/Content/Images/pdf-logo.png" height="50" /></a>
                        
        </td>
    </tr>
}

</table>
